.locationBtn {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border: none;
  border-radius: 2.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.locationBtn:hover {
  background-color: rgb(59, 66, 80);
}
