.tabs {
  padding: 3rem 0;
  display: block;
}
.tabs a {
  background-color: aliceblue;
  display: block;
  margin-bottom: 1rem;
  padding: 0.4rem;
  width: 100%;
  cursor: pointer;
}
.tabs a:hover {
  background-color: black;
  color: #fff;
}

@media (min-width: 992px) {
  .tabs {
    display: flex;
    justify-content: center;
  }
  .tabs a {
    width: 200px;
    margin: 0.4rem;
  }
}
