.product {
  background-color: #fff;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product img {
  width: 100%;
}
.productInfo {
  padding: 0.4rem 0;
}
